.name {
  font-weight: bold;
  color: var(--text-color);
  font-size: 2rem;
  text-wrap: balance;
  text-align: left;
}

h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  text-wrap: balance;
}

.job {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: left;
  width: 100%;
}

.job span {
  position: relative;
  display: inline-block;
}

.job span::before {
  content: 'Desarrollador Full Stack';
  color: var(--text-special-color);
  animation: words 20s infinite;
}

.job span::after {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: var(--background-color);
  border-left: 2px solid var(--text-special-color);
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--text-color);
  }
}

@keyframes words {
  0%, 20% {
    content: 'Full Stack Developer';
  }
  21%, 40% {
    content: 'Game Developer';
  }
  41%, 60% {
    content: 'Mobile Developer';
  }
  61%, 80% {
    content: 'Software Engineer';
  }
  81%, 100% {
    content: 'Computer Science Engineer';
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 8px);
  }
}

.description {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: left;
}

.profile-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image {
  width: 200pt;
  height: 200pt;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
  transition: filter 0.3s ease;
}

.profile-image-container:hover .profile-image {
  filter: blur(2px) brightness(70%);
}

.contact-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.profile-image-container:hover .contact-overlay {
  opacity: 1;
}

.contact-overlay i {
  font-size: 2rem;
  margin-bottom: 8px;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-link {
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: 1px solid #535bf2;
  margin: 0 10px;
}

.social-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}