#root {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  #root {
    width: 100%;
    padding: 1rem;
  }
}

.main {
  margin-top: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: var(--hover-background);
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle:active {
  background-color: var(--menu-background);
}

.hamburger {
  font-size: 2rem;
}

header {
  position: fixed;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  z-index: 1000;
  background-color: var(--header-background);
  top: 0;
  left: 0;
  color: var(--text-color);
}

.header-container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  margin: 0 1rem;
  text-decoration: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-menu a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 5px;
}

.nav-menu a:hover {
  color: #646cff;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #646cff;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--menu-background);
  }

  .nav-menu.active {
    display: flex;
    z-index: 1000;
    animation: slideIn 0.3s ease-in-out;
  }
  .nav-menu a {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideInLinks 0.3s ease-in-out forwards;
  }
  .nav-menu a:hover {
    color: #646cff;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #646cff;
    text-decoration-thickness: 2px;
    text-decoration-style: wavy;
    background-color: var(--hover-background);
    border-radius: 5px;
  }

  .nav-menu a:nth-child(1) { animation-delay: 0.2s; }
  .nav-menu a:nth-child(2) { animation-delay: 0.3s; }
  .nav-menu a:nth-child(3) { animation-delay: 0.4s; }
  .nav-menu a:nth-child(4) { animation-delay: 0.5s; }
  .nav-menu a:nth-child(5) { animation-delay: 0.6s; }
}

@media (min-width: 769px) {
  .nav-menu {
    display: flex;
    gap: 0.5rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLinks {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

.night-mode-button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer-container {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  margin: 0;
}

.footer-text a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 0.3rem;
}

.footer-text a:hover {
  color: #646cff;
  text-decoration: underline;
}

